a:link {
	color:#ffffff;
	text-decoration: none;
}

a:visited {
	color:#ffffff;
	text-decoration: underline;
}

a:hover {
	color:#ffffff;
	background: #009688;
	text-decoration: underline;
}

a:active {
	color:#ffffff;
	background: #009688;
	text-decoration: none;
}